{name, "reloader"}.
{authors, ["Matthew Dempsky <matthew@mochimedia.com>"]}.
{description, "Erlang module for automatically reloading modified modules during development"}.
{homepage, "https://github.com/mochi/mochiweb"}.
{rebar_compatible, true}.
{license, "MIT"}.
{url, {git, "https://github.com/yrashk/reloader.git", {branch, "master"}}}.
{applications, [reloader]}.
